.card-header
    padding: 0.1em 0.25em
    background-color: rgba(0, 0, 0, 0.08)

.card-body
    padding: 0.5rem
    padding-top: 0.2rem
    padding-right: 0

    .leaf
        padding: 0
        text-align: left
        overflow-x: auto

        .table th, .table td
            padding: 0.25rem
            padding-left: 0.75rem
            width: 50%

        .properties
            .card-header
                margin-left: 0.25em
                background-color: rgba(0, 0, 0, 0.23)
            .card-body
                overflow-x: auto

