@using ViewModels = dotdotdot.Models.View.SaveFile
@model ViewModels.List

<div class="row">
    <table class="table table-striped">
        <thead>
            <th>Safe file</th>
            <th>Last Modified</th>
        </thead>
        <tbody>
            @if(Model.files != null)
            {
                @foreach (ViewModels.ListItem file in Model.files)
                {
                    <tr>
                        <td><a href="@Url.RouteUrl("SaveFileRead", new { filename = file.filename })">@(file.filename)</a></td>
                        <td>@Html.Encode(file.lastModified)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>